---
import WebLayout from "../../layouts/WebLayout.astro";
import "/src/styles/config.scss";
import "/src/styles/portfolio.scss";
---

<WebLayout language="fr" title="Project 3">
  <main class="main-project">
    <h1>Projet : Automatisation Python Dokkan Battle</h1>

    <!-- Projet 1 -->
    <div class="project-3">
      <h2>Présentation du projet</h2>
      <p>
        Ce projet à pour objectif de me faire découvrir l'automatisation de
        tache et consolider mes connaissances en python.<br /> Étant un fan du manga
        Dragon Ball j'ai décidé d'apréhender ce projet de manière ludique en le faisant
        sur le jeu <strong>Dragon Ball Z:Dokkan Battle</strong>. Ce jeu étant
        extremement chronophage l'utilisation de ces scripts permet de reduire
        le temps perdu lors d'actions répétitives.
      </p>

      <!--Medias -->

      <ul class="media-project">
        <li>
          <img
            src="/Assets/project3-image1.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img
            src="/Assets/Project3-image3.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img src="/Assets/project3-image3.jpg" alt="can't load image" />
        </li>
      </ul>
      <p>
        <strong>Dragon Ball Z:Dokkan Battle</strong> est un jeu disponible sur mobile
        fonctionnant en tour par tour. Ce jeu étant extremement chronophage l'utilisation
        de ces scripts permet de reduire le temps perdu lors d'actions répétitives.
        Ce projet est un ensemble de script en python permetant d'automatiser la
        collection de ressources sur le jeu. Grâce aux scripts python et l'utilisation
        des librairies <a
          href="https://pyautogui.readthedocs.io/en/latest/"
          target="_blank">pyautogui</a
        > et <a
          href="https://docs.python.org/fr/3/library/time.html"
          target="_blank">time</a
        >, j'ai automatisé:<br />
      </p>
      <ul class="ul-pro-3">
        <ul class="ul-pro-3">
          <li>
            La complétion des niveaux de type: Dokkan
            <span class="btn-project">
              <a
                href="https://github.com/Mistoruu/Dokkan-Prime-Battle-Automation"
                target="_blank">→En savoir plus</a
              >
            </span>
          </li>
          <li>
            La complétion des niveaux de type: EZA
            <span class="btn-project">
              <a
                href="https://github.com/Mistoruu/Dokkan-EZA-Automation"
                target="_blank">→En savoir plus</a
              >
            </span>
          </li>
          <li>
            Le recrutement de personnages alliés
            <span class="btn-project">
              <a
                href="https://github.com/Mistoruu/Dokkan-Summon-Automation"
                target="_blank">→En savoir plus</a
              >
            </span>
          </li>
        </ul>
      </ul>
      <span class="video-dokkan">
        <video
          id="video"
          poster="/Assets/dbzdokkan.jpg"
          muted=""
          autoplay=""
          loop=""
        >
          <source src="/Assets/dokkan-commercial.mp4" type="video/mp4" />
        </video>
      </span>
      <p>Dragonball Z : Dokkan Battle, ©Bandai namco</p>
    </div>
  </main>
</WebLayout>
