
// Screen sizes

$mobile-screen-size:768px;

// Background colors

$background-1: rgb(146, 144, 195);
$background-2:rgb(83, 92, 145);
$background-3:rgb(27, 26, 85);
$background-4:rgb(7, 15, 43);

$background-card:hsl(247, 11%, 16%);

// Mixins

@mixin mixin-h1-responsive (){
      
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        margin-left: 10px;
        @media screen and (max-width:$mobile-screen-size){
            font-size: 1.8rem; 
            margin-bottom: 15px; 
            margin-left: 5px;
        
    }
}

@mixin mixin-h2-responsive (){
    font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width:$mobile-screen-size){
            font-size: 1.5rem;
        }
}