
@import 'config.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
*::before,
*::after {
    box-sizing: border-box;
}
html{
   
}
// Background colors


body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-45deg, $background-1, $background-2, $background-3, $background-4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    & p,h1,h2 {
        color: white;
    }
  }
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    height: 100%;
  }
main {
    padding-left:  50px;
    padding-right: 50px;
& .section{
    margin-bottom: 15px;
}
& #intro{
    //Margin & Padding
    padding: 20px;
    margin-top: 120px;
    & h1{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    & p {
        font-size: 1.5rem;
        width: 50%;
    }
}
& #projects {
    //Margin & Padding
    padding: 20px;
    margin-top: 120px;
   
	
    & .h2-project {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
}
& #skills {
    padding: 20px;
    margin-top: 120px;
    & h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }
    & .ul-skills {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content:space-around;
    }
    & p {
        text-align: center;
        font-size: 1.2rem;
        padding: 5% 15%;
    }
    &  .certif-link-main {
        display: block;
        text-align: center;
       
        & a{
            text-decoration: none;
            color: white;
            background-color: $background-card;
            border-radius: 7px;
            padding: 7px;
        }
    }

}
 & #about {
    //Margin & Padding
    padding: 20px;
    margin-top: 120px;
    & h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    & .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & p {
        font-size: 1.5rem;
        text-align: center;
        width: 70%;
    }
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

}
// Main-projects
.main-project{
& h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
}
& h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
& p {
    padding: 0% 10% 0%;
    text-align: center;
    margin-bottom: 25px;
}

& .media-project {
    margin: 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    & li {
        & img {
            height: 230px;
            width: 430px;
            border-radius: 7px;
        }
    }

    li::marker {
        content: "";
    }
  }
& .btn-project {
    display: block;
        text-align: center;
       
        & a{
            text-decoration: none;
            color: white;
            background-color: $background-card;
            border-radius: 7px;
            padding: 7px;
        }
  }
  .ul-pro-3 {
    color: white;
    text-align: center;
    
    & li {
        margin-top: 25px;
    }

    & li::marker {
        content: "";
    }

    & .btn-project {
        margin: 20px;
    }
}

}

// Main certif

.main-certif{
    padding: 50px;
    & h1{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    & h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    & p {
        padding: 0% 10% 0%;
        text-align: center;
        margin-bottom: 25px;
    }
    & ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & li iframe{
        transition: transform 400ms ease-out;
        margin-bottom: 35px;
    }
    & li::marker{
        content: "";
    }
    & li img{
        width:564px;
        height:449px;
        margin-bottom: 25px;
    }
    &  .certif-link a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}