---
import WebLayout from "../layouts/WebLayout.astro";
import Card from "../components/Card.astro";
import "../styles/config.scss";
import "../styles/test.scss";
---

<WebLayout>
  <main class="main-certif">
    <h1>Mes certifications</h1>
    <section class="codecademy">
      <h2>Codecademy</h2>
      <p>
        <span class="certif-link"
          ><a href="https://www.codecademy.com/">Codecademy</a></span
        > est une plateforme interactive en ligne qui propose d'apprendre gratuitement
        les bases de douze langages de programmation, tels que Python, PHP, JavaScript,
        Java, C++, ou des langages de balisage, comme HTML et CSS et des tutoriels
        pour construire des sites web ou améliorer des programmes.
      </p>
      <ul class="ul-certif">
        <li>
          <iframe
            class="certif"
            width="564"
            height="449"
            src="/Assets/certif-JS.PNG"></iframe>
        </li>
        <li>
          <iframe
            class="certif"
            width="564"
            height="449"
            src="/Assets/certif-python.PNG"></iframe>
        </li>
        <li>
          <iframe
            class="certif"
            width="564"
            height="449"
            src="/Assets/certif-html.PNG"></iframe>
        </li>
        <li>
          <iframe
            class="certif"
            width="564"
            height="449"
            src="/Assets/certif-css.PNG"></iframe>
        </li>
      </ul>
    </section>
  </main>
</WebLayout>
