---
import WebLayout from "../layouts/WebLayout.astro";
import "../styles/config.scss";
import "../styles/portfolio.scss";
---

<WebLayout language="fr" title="Certifs">
  <main class="main-certif">
    <h1>Mes certifications</h1>
    <section class="codecademy">
      <h2>Codecademy</h2>
      <p>
        <span class="certif-link"
          ><a href="https://www.codecademy.com/">Codecademy</a></span
        > est une plateforme interactive en ligne qui propose d'apprendre gratuitement
        les bases de douze langages de programmation, tels que Python, PHP, JavaScript,
        Java, C++, ou des langages de balisage, comme HTML et CSS et des tutoriels
        pour construire des sites web ou améliorer des programmes.
      </p>
      <ul class="ul-certif">
        <li>
          <img src="/Assets/certif-JS.PNG" class="certif" />
        </li>
        <li>
          <img src="/Assets/certif-JS.PNG" class="certif" />
        </li>
        <li>
          <img src="/Assets/certif-JS.PNG" class="certif" />
        </li>
        <li>
          <img src="/Assets/certif-css.PNG" class="certif" />
        </li>
      </ul>
    </section>
  </main></WebLayout
>
