---
import WebLayout from "../layouts/WebLayout.astro";
import Card from "../components/Card.astro";
---

<WebLayout language="fr" title="Test">
  <h1>Titre</h1>
  <p>Paragraphe de presentation rapide</p>

  <div class="projects">
    <h2>Section Projets</h2>
    <Card href="#" title="projet" body="Ceci est un exemple de projet" />
    <Card href="#" title="projet" body="Ceci est un exemple de projet" />
    <Card href="#" title="projet" body="Ceci est un exemple de projet" />
  </div>
  <div class="about">
    <h2>Section About</h2>
  </div>
</WebLayout>
