---
import WebLayout from "../layouts/WebLayout.astro";
import Card from "../components/Card.astro";
---

<WebLayout language="fr" title="Test">
  <main>
    <div class="intro">
      <h1>Eliott Maillé</h1>
      <p>
        Je m'appelle Eliott Maillé, étudiant en informatique passionné par le
        développement web et l'IA. Je maîtrise plusieurs langages de
        programmation et aime relever des défis techniques à travers des projets
        innovants.
      </p>
    </div>
    <div id="projects" class="projects">
      <h2>Section Projets</h2>
      <ul class="link-card-grid">
        <Card
          href="/projects/pro-1.html"
          title="projet 1"
          body="Ceci est un exemple de projet"
        />
        <Card
          href="/projects/pro-2.html"
          title="projet 2"
          body="Ceci est un exemple de projet"
        />
        <Card
          href="/projects/pro-3.html"
          title="projet 3"
          body="Ceci est un exemple de projet"
        />
      </ul>
    </div>
    <div id="about" class="about">
      <h2>Section About</h2>
      <div class="about-text">
        <p>
          Passionné par les technologies et le développement informatique, je
          suis un étudiant en informatique avec un fort intérêt pour la
          programmation, les systèmes embarqués et l'intelligence artificielle.
          Au cours de mes études, j'ai acquis des compétences solides dans
          divers langages de programmation tels que Python, JavaScript et C++,
          tout en développant une expertise dans le développement web et le
          machine learning. Toujours à la recherche de nouveaux défis, je
          m'efforce de rester à la pointe des innovations technologiques et
          d'appliquer mes connaissances à des projets concrets. Mon objectif est
          de transformer ma passion pour la technologie en solutions créatives
          et efficaces qui résolvent des problèmes réels.
        </p>
      </div>
    </div>
  </main>
</WebLayout>
