---
import WebLayout from "../layouts/WebLayout.astro";
import CardProject from "../components/CardProject.astro";
import Skills from "../components/Skills.astro";
import "../styles/config.scss";
import "../styles/portfolio.scss";
---

<WebLayout language="fr" title="Portfolio | Eliott Maillé">
  <main>
    <div id="intro" class="section">
      <h1>Eliott Maillé</h1>
      <p>
        Je m'appelle Eliott Maillé, étudiant en informatique actuellement en 2e
        année de BTS SIO (Services informatiques aux organisations) option SLAM
        (solutions logicielles et applications métiers). Passionné par
        l'informatique et en particulier la programmation. Je maîtrise plusieurs
        langages de programmation et aime relever des défis techniques à travers
        des projets innovants.
      </p>
    </div>
    <div id="projects" class="section">
      <h2>Mes Projets</h2>
      <ul class="link-card-grid">
        <CardProject
          img="/Assets/Project1-image1.PNG"
          href="/projects/pro-1.html"
          title="Site Portfolio"
          body="Site portfolio développé 'from scratch'"
          technologies={[
            { iconUrl: "/Assets/ico-Astro.png", iconName: "Astro" },
            { iconUrl: "/Assets/ico-TS.png", iconName: "TS" },
            { iconUrl: "/Assets/ico-HTML.png", iconName: "HTML5" },
            { iconUrl: "/Assets/ico-CSS.png", iconName: "CSS" },
          ]}
        />
        <CardProject
          img="/Assets/Project2-image1.png"
          href="/projects/pro-2.html"
          title="EM Board Games"
          body="Site web pour jouer à des jeux de plateaux"
          technologies={[
            { iconUrl: "/Assets/ico-JS.png", iconName: "JS" },
            { iconUrl: "/Assets/ico-HTML.png", iconName: "HTML5" },
            { iconUrl: "/Assets/ico-CSS.png", iconName: "CSS" },
            { iconUrl: "/Assets/ico-PHP.png", iconName: "PHP" },
          ]}
        />
        <CardProject
          img="/Assets/project3-default.jpg"
          href="/projects/pro-3.html"
          title="Dokkan Battle Automation"
          body="Automatisation de tâches en Python"
          technologies={[
            { iconUrl: "/Assets/ico-Python.png", iconName: "Python" },
            { iconUrl: "/Assets/ico-Bash.png", iconName: "Bash" },
          ]}
        />
      </ul>
    </div>
    <div id="skills" class="section">
      <h2>Mes Compétences</h2>
      <ul class="ul-skills">
        <Skills src="/Assets/ico-Astro.png" title="Astro" />
        <Skills src="/Assets/ico-HTML.png" title="HTML" />
        <Skills src="/Assets/ico-CSS.png" title="CSS" />
        <Skills src="/Assets/ico-JS.png" title="JavaScript" />
        <Skills src="/Assets/ico-TS.png" title="TypeScript" />
        <Skills src="/Assets/ico-NodeJs.png" title="Node Js" />
        <Skills src="Assets/ico-PHP.png" title="PHP" />
        <Skills src="/Assets/ico-Python.png" title="Python" />
        <Skills src="/Assets/ico-CSharp.png" title="C#" />
        <Skills src="/Assets/github_ico.png" title="Github" />
        <Skills src="/Assets/ico-Docker.png" title="Docker" />
        <Skills src="/Assets/ico-SQL.png" title="SQL" />
        <Skills src="/Assets/ico-Bash.png" title="Bash" />
      </ul>
      <p>
        En plus de ma formation initiale et des projets que j'entreprends, je
        n'hésite pas à me former a de nouvelles technologies et de nouveaux
        langages de programmation via des formations spécialisés sur internet.
      </p>

      <span class="certif-link-main"
        ><a href="certifs.html">→ Voir toutes mes certifications</a></span
      >
    </div>
    <div id="about" class="section">
      <h2>À propos de moi</h2>
      <div class="about-text">
        <p>
          Passionné par les technologies et le développement informatique, je
          suis un étudiant en informatique avec un fort intérêt pour la
          programmation.<br /> Au cours de mes études, j'ai acquis des compétences
          solides dans divers langages de programmation tels que Python, JavaScript
          et PHP, tout en développant une expertise dans le développement web.<br
          /> Toujours à la recherche de nouveaux défis, je m'efforce de rester à
          la pointe des innovations technologiques et d'appliquer mes connaissances
          à des projets concrets. Mon objectif est de transformer ma passion pour
          la technologie en solutions créatives et efficaces qui résolvent des problèmes
          réels.
        </p>
      </div>
    </div>
  </main>
</WebLayout>
