---

---

<header>
  <nav>
    <ul>
      <li class="logo">
        <img
          src="/Assets/em-logo-white-transparent.png"
          alt="logo"
          class="header-logo-img"
        />
      </li>
      <li><a href="/index.html">Accueil</a></li>
      <li><a href="/index.html#projects">Projets</a></li>
      <li><a href="/index.html#about">À Propos de moi</a></li>
      <li class="contact-button">
        <a href="mailto:maille.eliott@gmail.com">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @import "../styles/config.scss";
  header {
    margin: auto;

    //
    & nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & nav ul li.logo {
      background: transparent;
      margin-right: auto;
    }
    & nav ul li.logo img {
      height: 50px;

      @media screen and (max: width 1000px) {
        height: 50px;
      }
    }
    & nav ul li.logo:hover {
      border-color: transparent;
    }
    & nav ul li.contact-button {
      margin-left: auto;
    }
    & nav ul li {
      margin: 20px;
      padding: 15px;

      // Borders
      border: 2px solid transparent;
      border-radius: 5px;

      // Animation
      transform: scale(1);
      transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    & nav ul li a {
      font-size: 2rem;
      position: relative; // Nécessaire pour que le pseudo-élément se positionne correctement
      color: white; // Couleur initiale du texte
      text-decoration: none; // Supprime le soulignement par défaut

      // Pseudo-élément pour créer le soulignement
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; // Positionne le soulignement juste sous le texte
        width: 0; // Commence avec une largeur de 0
        height: 2px; // Épaisseur de la ligne
        background-color: $background-1; // Utilise la couleur de fond pour le soulignement
        transition: width 0.3s ease-in-out; // Transition pour animer la largeur
      }

      // Animation lors du survol
      &:hover::after {
        width: 100%; // Étend la ligne sur toute la largeur du texte
      }

      &:hover {
        color: $background-1; // Change la couleur du texte au survol
      }
    }
  }

  header nav ul li::marker {
    content: none;
  }
</style>
