---
interface Props {
  language?: string;
  title?: string;
}
const { language = "fr", title = "Portfolio | Eliott Maillé" } = Astro.props;
---

<head>
  <!-- Technical Metadata -->
  <meta charset="UTF-8" />
  <meta hhtp-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="generator"
    content="Website made by Eliott Maillé with the Astro Framework (HTML, SCSS, Typescript"
  />

  <!--General Metadata -->
  <meta name="author" content="Eliott Maillé" />
  <meta
    name="description"
    content="Eliott Maillé is an Web developer student"
  />
  <meta name="og:type" content="website" />
  <meta name="" />
  <meta name="" />

  <!--Socials Metada -->
  <meta name="linkedin" content="" />
  <meta name="github" content="" />
  <!--Imports -->
  <link rel="icon" href="/public/EM_favico.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <title>{title}</title>
</head>
