---
import WebLayout from "../../layouts/WebLayout.astro";
---

<WebLayout language="fr" title="Project 3">
  <!-- Projet 3 -->
  <div class="project-3">
    <img src="/Assets/projet_default.jpg" alt="Recommandation de films" />
    <div>
      <h2>Projet 3 : Système de recommandation de films</h2>
      <p>
        Ce système utilise des algorithmes de machine learning pour recommander
        des films basés sur les préférences de l'utilisateur. Il analyse les
        données des utilisateurs et propose des films correspondant à leurs
        goûts.
      </p>
      <a href="#" class="btn">Voir les détails</a>
      <!-- Vidéo du projet 3 -->
      <video controls>
        <source src="video-recommandation-films.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas la balise vidéo.
      </video>
    </div>
  </div>
</WebLayout>
