---
import WebLayout from "../../layouts/WebLayout.astro";
import "/src/styles/config.scss";
import "/src/styles/portfolio.scss";
---

<WebLayout language="fr" title="Project 2">
  <main class="main-project">
    <h1>Projet : Site de jeu de plateau</h1>

    <!-- Projet 2 -->
    <div class="project-1">
      <h2>Présentation du projet</h2>
      <p>
        Ce projet est un site de jeu de plateau développé from scratch en
        JavaScript. L'objectif est de se familiariser avec les technolgies du
        développement Back-End par l'apprentissage du php ainsi que de
        consolider mes compétences en JavaScript, HTML et SCSS.
      </p>
      <span class="btn-project"
        ><a href="https://github.com/Mistoruu/EM-Board-Games">Voir le projet</a
        ></span
      >
      <!--Medias -->
      <ul class="media-project">
        <li>
          <img
            src="/Assets/project2-image2.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img
            src="/Assets/project2-image3.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img src="/Assets/project2-image4.PNG" alt="can't load image" />
        </li>
      </ul>
      <p>
        Le développement backend de ce site a été conçu en utilisant du PHP
        legacy, une version plus ancienne de PHP qui, bien que dépassée par les
        standards modernes, reste robuste et fiable pour les fonctionnalités
        requises. Cette approche permet de maintenir une structure de code
        éprouvée tout en offrant une compatibilité avec des systèmes existants,
        souvent utilisés dans des environnements où la stabilité est
        primordiale. En utilisant cette base, nous avons optimisé les
        performances et veillé à une bonne gestion des données des utilisateurs
        et des jeux, tout en mettant en place une logique claire pour les
        interactions sur la plateforme.
      </p>
      <span class="btn-project"
        ><a href="https://www.php.net/">En savoir plus sur PHP</a></span
      >
    </div>
  </main>
</WebLayout>
