---
import WebLayout from "../../layouts/WebLayout.astro";
import "/src/styles/config.scss";
import "/src/styles/portfolio.scss";
---

<WebLayout language="fr" title="Project 1">
  <main class="main-project">
    <h1>Projet : Site Portfolio</h1>

    <!-- Projet 1 -->
    <div class="project-1">
      <h2>Présentation du projet</h2>
      <p>
        Ce projet est un site portfolio développé from scratch en utilisant le
        framework Astro. L'objectif est de se familiariser avec les technolgies
        du développement Web par l'apprentissage d'un framework ainsi que de
        consolider mes compétences en JavaScript, HTML et SCSS.
      </p>
      <span class="btn-project"
        ><a href="https://mistoruu.github.io/">Voir le projet</a></span
      >
      <!--Medias -->
      <ul class="media-project">
        <li>
          <img
            src="/Assets/Project1-image1.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img
            src="/Assets/Project1-image2.PNG"
            alt="this image couldn't load"
          />
        </li>
        <li>
          <img src="/Assets/projet_default.jpg" alt="can't load image" />
        </li>
      </ul>
      <p>
        Astro est un framework web moderne conçu pour créer des sites
        ultra-rapides en optimisant les performances. Il utilise une approche
        appelée "Islands Architecture", qui permet de générer des pages
        principalement statiques, avec seulement des parties interactives
        chargées lorsque c'est nécessaire. Cela réduit le JavaScript utilisé et
        améliore les temps de chargement. Astro est compatible avec des outils
        comme React, Vue, Svelte, et des styles comme Tailwind ou Sass, offrant
        une grande flexibilité. Il est parfait pour les blogs, portfolios et
        sites marketing où la rapidité est essentielle.
      </p>
      <span class="btn-project"
        ><a href="https://astro.build/">En savoir plus</a>
      </span>
    </div>
  </main>
</WebLayout>
