---
interface Props {
  language?: string;
  title?: string;
}

const { language = "en", title = "Test Website" } = Astro.props;

import WebHead from "../components/WebHead.astro";
import WebHeader from "../components/WebHeader.astro";
import WebFooter from "../components/WebFooter.astro";
import "../styles/test.scss";
---

<!-- HTML 5 --><!doctype html>
<html lang={language}>
  <WebHead />
  <body>
    <!-- HEADER -->
    <WebHeader />
    <slot />
    <!--FOOTER -->
    <WebFooter />
  </body>
</html>
